[Unit]
Description=IG Provisioning Service
After=network.target

[Service]
BusName=com.lairdtech.IG.ProvService
ExecStart=/usr/bin/igprovd

[Install]
WantedBy=multi-user.target
