# This service is needed as a backup to udev rule on SD builds because /boot
# is not mounted at coldplug event time.

[Unit]
Description=Set Ethernet controller MAC addresses
ConditionPathExists=/boot
RequiresMountsFor=/boot
After=local-fs.target
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/bin/setmac.sh

[Install]
WantedBy=network.target
