[Unit]
Description=Bluetooth Storage Bind
DefaultDependencies=no
Conflicts=umount.target
Requires=mount_data.service
After=mount_data.service system.slice local-fs-pre.target
Before=bluetooth.service umount.target

[Mount]
What=/data/secret/bluetooth
Where=/var/lib/bluetooth
Type=none
Options=bind
DirectoryMode=0700

[Install]
RequiredBy=bluetooth.service
