[Unit]
Description=IG Greengrass V2 Runner
Wants=network-online.target ggv2sdmount.service media-mmcblk0p1-swapfile.swap
After=network-online.target ggv2sdmount.service media-mmcblk0p1-swapfile.swap
BindsTo=ggv2sdmount.service
ConditionPathExists=/media/mmcblk0p1/jdk/lib/modules
ConditionPathExists=/media/mmcblk0p1/greengrass/v2
ConditionPathExists=/media/mmcblk0p1/greengrass/v2/alts/current/distro/lib/Greengrass.jar
ConditionPathExists=/media/mmcblk0p1/greengrass/v2/alts/current/distro/bin/loader

[Unit]
StartLimitIntervalSec=200
StartLimitBurst=5

[Service]
Type=simple
PIDFile=/run/greengrassv2.pid
ExecStart=/bin/sh /media/mmcblk0p1/greengrass/v2/alts/current/distro/bin/loader
Restart=always
RestartSec=30
KeyringMode=inherit

[Install]
WantedBy=multi-user.target
