SUBSYSTEM=="block", ACTION=="add", ENV{ID_BUS}=="usb", ENV{ID_FS_USAGE}=="filesystem", PROGRAM="/usr/bin/systemd-escape -p --template=usb-update@.service $env{DEVNAME}", ENV{SYSTEMD_WANTS}+="%c"
