SUBSYSTEM=="tty", ACTION=="add", KERNEL=="ttyUSB0", TAG+="systemd", ENV{SYSTEMD_WANTS}+="serial-getty@%k.service" RUN+="/bin/stty -F /dev/%k 115200"

