[Unit]
Description=IG Configuration Service
Wants=igprovd.service
After=network.target igprovd.service

[Service]
Type=notify
ExecStart=/usr/bin/igconfd

[Install]
WantedBy=multi-user.target
